<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- !!!!!!!!!!!!!!!Hardcoded Workaround!!!!!!!!!!!!!!!! -->
    <main class=​'​​Products​​'​>
      <!-- This recently added code might be causing an error!!!!!!!!!!! -->
      <!-- replaced embeddedy ruby call to controller.​controller_name​ with
      hardcoded stuff above ​%>​​'​> -->
    <%= yield %>
    </main>
  </body>
</html>
